<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 数据库azy2 -->
<configuration>
	<typeAliases>
        <typeAlias alias="Integer" type="java.lang.Integer" />
		<typeAlias alias="String" type="java.lang.String" />
		<typeAlias alias="Float" type="java.lang.Float" />
		<typeAlias alias="Double" type="java.lang.Double" />
		<typeAlias alias="Timestamp" type="java.sql.Timestamp" />
		<typeAlias alias="List" type="java.util.List" />
		<typeAlias alias="Map" type="java.util.Map"/>
		<typeAlias alias="HashMap" type="java.util.HashMap"/>
		
		<typeAlias alias="ExportParams" type="com.iquizoo.manage.web.export.dto.ExportParams"/>
		<!-- 商品  -->
		<typeAlias alias="Product" type="com.iquizoo.manage.web.product.po.Product"/>
		<typeAlias alias="ProductOrder" type="com.iquizoo.manage.web.product.po.ProductOrder"/>
		<typeAlias alias="Prop" type="com.iquizoo.manage.web.product.po.Prop"/>
		<typeAlias alias="UserProp" type="com.iquizoo.manage.web.product.po.UserProp"/>
		<typeAlias alias="GoldChangeLog" type="com.iquizoo.manage.web.product.po.GoldChangeLog"/>

		<!-- 管理员 -->
		<typeAlias alias="Admin" type="com.iquizoo.manage.web.admin.po.Admin"/>
		<typeAlias alias="Adminownrole" type="com.iquizoo.manage.web.admin.po.Adminownrole"/>
		<typeAlias alias="Resource" type="com.iquizoo.manage.web.admin.po.Resource"/>
		<typeAlias alias="Role" type="com.iquizoo.manage.web.admin.po.Role"/>
		<typeAlias alias="Roleownresource" type="com.iquizoo.manage.web.admin.po.Roleownresource"/>
		
		<!-- 用户 -->
		<typeAlias alias="User" type="com.iquizoo.manage.web.user.po.User"/>
		<typeAlias alias="UserDTO" type="com.iquizoo.manage.web.user.dto.UserDTO"/>
		<typeAlias alias="LineUser" type="com.iquizoo.manage.web.user.po.LineUser"/>
		<typeAlias alias="Account" type="com.iquizoo.manage.web.user.po.Account"/>
		<typeAlias alias="Usermessage" type="com.iquizoo.manage.web.user.po.Usermessage"/>
		<typeAlias alias="AccountVip" type="com.iquizoo.manage.web.vip.po.AccountVip"/>
		<typeAlias alias="AccountVipLog" type="com.iquizoo.manage.web.vip.po.AccountVipLog"/>
		
		<!-- 系统管理 -->
		<typeAlias alias="Category" type="com.iquizoo.manage.web.system.po.Category"/>
		<typeAlias alias="Systemlog" type="com.iquizoo.manage.web.system.po.Systemlog"/>
    </typeAliases>
</configuration>